<p>(Root outlet) AppComponent</p>
<nav>
  <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a> |
  <a [routerLink]="['/home2']" routerLinkActive="router-link-active" >Home 2</a> |
  <a [routerLink]="['/myfa']" routerLinkActive="router-link-active" >My Feature A</a> |
  <a [routerLink]="['/myfb']" routerLinkActive="router-link-active" >My Feature B</a> |
  <a [routerLink]="['/myfc']" routerLinkActive="router-link-active" >My Feature C (lazy load)</a> |
  <a [routerLink]="['/routeparam/999']" routerLinkActive="router-link-active" >Route Param</a> |
</nav>
<div class="outlet">
  <router-outlet></router-outlet>
</div>

