<p>RouteParamComponent works!</p>
<ul>
  <li>
    Required Params: /myId
    <ul>
      <i># Navigation:</i>
      <li>
        <span>/myId</span>
      </li>
    </ul>
    <ul>
      <i># Accessing:</i>
      <li>
        .snapshot.paramMap: ParamMap -<span class="param">{{requiredParamSnapshot}}</span>
      </li>
      <li>
        .paramMap: Observable&lt;ParamMap&gt; - <span class="param">{{requiredParam$ | async}}</span>
      </li>
    </ul>
  </li>
  <li>
    Optional Params:
    <ul>
      <i># Navigation:</i>
      <li>
        <span>/myId;optId=myOptId </span>
      </li>
      <li>
        <span>[routerLink]="['/routeparam', 'myId', &#123; optId: 'myOptId' &#125;]"</span>
      </li>
    </ul>

    <ul>
      <i># Accessing:</i>
      <li>
        <p>.paramMap: Observable&lt;ParamMap&gt;
          <span class="param">{{optionalParam$ | async}}</span>
        </p>
      </li>
    </ul>
  </li>
  <li>
    Query param:
    <ul>
      <i># Navigation:</i>
      <li>
        <span>
          /myId?id=myId
        </span>
      </li>
      <li>
        <span>
          [routerLink]="['/routeparam', 'myId']" [queryParams]="&#123; id: 'myId' &#125;"
        </span>
      </li>
      <li>
        <span>
          .navigate(['/routeparam', 'myId'], &#123; queryParams: &#123; id: 'myId' &#125; &#125;); <button class="btn btn-dark" (click)="navigateUsingQueryParams()">.navigate</button>
        </span>
      </li>
      <li>
        Preserve Query Params - queryParamsHandling:
        <ul>
          <li>
            <a [routerLink]="['/home']" queryParamsHandling="preserve" routerLinkActive="router-link-active">[routerLink]="['/home']" queryParamsHandling="preserve" </a>
          </li>
          <li>
            <button class="btn btn-dark" (click)="navigatePreserveQueryParams()">.navigate(['/home'], &#123; queryParamsHandling: 'preserve' &#125;)</button>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <i># Accessing:</i>
      <li>
        .queryParamMap: Observable&lt;ParamMap&gt; <span class="param">{{queryParam$ | async}}</span>
      </li>
    </ul>
  </li>
  <li>
    Data:
    <ul>
      <li>
        data: Observable&lt;Data&gt; - <span class="param">{{data$ | async}}</span>
      </li>
    </ul>
  </li>
  <li>
    Others:
    <ul>
      <li>
        url: Observable&lt;UrlSegment[]&gt; - <span class="param">{{url$ | async}}</span>
      </li>
    </ul>
  </li>
</ul>


